In [ ]:
"""
lower() 将series/index 中的字符串转换为小写
upper() 将series/index 中的字符串转换为大写
len() 计算字符串的长度
strip() 帮助从两侧的series/index中的每个字符串中删除空格(包括换行符)
split(' ') 用给定的模式拆分每个字符串，并以list的形式返回
cat(sep=' ') 使用给定的分隔符连接series/index元素
get_dummies() 返回具有单热编码值的DataFrame
contains(pattern) 如果元素中包含字符串，则返回每个元素的布尔值True，否则为False
replace(a,b) 将a的值替换为b
repeat(value) 重复每个元素的指定次数
count()模式中每个元素出现的总数
startswith(pattern) 如果series/index中的元素以模式开始，则返回True
endswith(pattern) 如果series/index中的元素以模式结尾，则返回True
find(pattern) 返回模式第一次出现的位置
findall(pattern) 返回模式的所有出现的列表
swapcase() 变换字母大小写
islower() 检查series/index中的每个字符串中的所有字符是否小写，返回布尔值
isupper() 检查series/index中的每个字符串中的所有字符是否大写，返回布尔值
isnumeric() 检查series/index中的每个字符串中的所有字符是否数字，返回布尔值
"""

In [1]:
import numpy as np
import pandas as pd
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveMinsu'])
print(s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveMinsu
dtype: object

In [2]:
# lower() 将字符串中的所有字符转为小写
import numpy as np
import pandas as pd
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveMinsu'])

print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      steveminsu
dtype: object

In [3]:
# upper() 将所有的字符转为大写
import numpy as np
import pandas as pd
s = pd.Series(['Tom','William Rick','John','Alber@t',np.nan,'1234','SteveMinsu'])
print(s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVEMINSU
dtype: object

In [4]:
# len() 计算字符串中的字符的个数
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveMinsu'])
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [5]:
#strip() 删除Series/index两侧中的空格或者换行符
import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("=========== After Stripping ================")
print (s.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
=========== After Stripping ================
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

In [6]:
# split() 以指定的模式切割字符串
import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("================= Split Pattern: ==================")
print (s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
================= Split Pattern: ==================
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [7]:
# cat(sep = pattern) 以指定的模式连接字符串
import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.cat(sep=' <=> '))

Tom  <=>  William Rick <=> John <=> Alber@t

In [9]:
#get_dummies() 返回具有单热编码值的DataFrame
import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [10]:
# contain(pattern) 查看字符串中是否有指定模式的字符，若有返回True，否则返回False
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

In [11]:
# replace(a,b) 替换a为b
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After replacing @ with $: ============== ")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $: ==============
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [12]:
# repeat(number) 指定字符串重复的次数
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [13]:
# count(pattern) 查看整个字符串中指定字符出现的次数
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("The number of 'm's in each string:")
print (s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

In [14]:
# startswith(pattern) 查看字符串是否以指定的字符开始，返回布尔值
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
print (s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [16]:
# endswith(pattern) 查看字符串是否以指定的字符串结尾，返回布尔值
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [19]:
# find(pattern) 查找指定字符在字符串中第一次出现的位置,若返回-1则表示没有这样的模式
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

In [20]:
# findall(pattern) 查看字符串中是否存在指定字符，若有返回指定字符，没有则返回空list
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

In [21]:
# swapcase() 将字符串中的字符串变换大小写
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

In [22]:
# islower() 查看字符串中的字符是否为全都小写，返回布尔值
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [23]:
# isupper() 查看字符串中的字符是否为全都大写，返回布尔值
import pandas as pd

s = pd.Series(['TOM', 'William Rick', 'John', 'Alber@t'])

print (s.str.isupper())

0     True
1    False
2    False
3    False
dtype: bool

In [24]:
# isnumeric() 查看字符串中的字符是否全都为数字
import pandas as pd
s = pd.Series(['Tom', '1199','William Rick', 'John', 'Alber@t'])
print (s.str.isnumeric())

0    False
1     True
2    False
3    False
4    False
dtype: bool